extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

  
        h1 Brianna Olmos

        
        p.lead.text-light
          | Full Stack JavaScript Developer Apprentice.

       
        .portfolio-bio
          p
            | I am a 20 year old, DFW native. I am interested in expanding my knowledge in software developing. I am currently invisioning a programming path into UX/UI Design.  
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li JavaScript
          li React
          li Adobe Photoshop
          li Adobe Illustrator 
          li Adobe Lightroom
        h6 Contact Info

        
        ul
          li 214-551-6408
          li brianna.olmos@verizon.com

       
        a.button.expanded(href='https://www.linkedin.com/in/brianna-olmos-3a98a3178/') LinkedIn
        a.button.expanded(href='https://github.com/briannacolmos') GitHub
       
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  